@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: #f5f5f5;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.header .flex .logo{
    font-size: 40px;
    color: white;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkblue;
    box-shadow: 8px 16px rgba(0,0,0,.1); 
    z-index: 100;
}

.header .flex a{
    color: white;
}


.header .flex .logo span{
    color: white;
}
.header .flex  .navbar{
    margin: 5px 16px;
    font-size: 38px;
    color: white;
}
.header .flex  .navbar a:hover{
    color: #2980b9;
    text-decoration: underline;
}

.header .flex .icons > *{
    font-size: 40px;
    cursor: pointer;
    color: #777;
    margin-left: 22px;
}

.header .flex .icons > *:hover{
    color: #2980b9;
}
.header .flex .profile{
    position: absolute;
    top: 125%; 
    right: 30px;
    background-color: white;
    box-shadow: 8px 16px rgba(0,0,0,.1); 
    border-radius: 8px;
    border: 3px solid black;
    padding: 28px;
    width: 480px;
    padding-top: 16px;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile p{
    margin-bottom: 16px;
    font-size: 30px;
    text-align: center;
    color: black;
}

.section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.form-container{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 8px 16px rgba(0,0,0,.1);
    padding: 16px ;
    text-align: center;
    width: 800px;
    
}

.form-container form h3{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
.form-container form p{
    margin: 16px 0;
    font-size: 32px;
    color: #777;
}
.form-container form span{
    color: red;
    font-size: 15px;
    padding: 10px;
}



.form-container form input{
    font-size: 30px;
    border: 3px solid black;
    margin-top: 15px ;
    border-radius: 8px;
    box-shadow: 4px 8px rgba(0,0,0,.1);
}

.btn:hover{
    cursor: pointer;
    opacity: 0.2;
}

.btn{
    background-color: darkblue;
    color: white;
    
}

#back{
  margin-left: -40px;
}

table, td, th {
    
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    
  }
  
  table {
    border-collapse: collapse;
    width: 400px;
    position: absolute;
    top: 40%;
    left: 40%;
    display: block;
    
  }
  
  td {
    text-align: center;
    border-bottom: lightgray 2px solid;
    
  }
  th{
    background-color: lightgrey;
  }
  
  table .fa{
    float: right;
    padding: 5px;
    
  }

  #pen{
    color: white;
    background-color: aquamarine;
    border-radius: 3px;
  
  }

 
  #pen:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  #can{
    color: white;
    background-color: red;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
  }

  #can:hover{
    opacity: 0.5;
  }

  h1{
    font-size: 42px;
    position: absolute;
    top: 30%;
    left: 40%;
  }

  .btn1{
    font-size: 22px;
    position: absolute;
    top: 36%;
    left: 40.50%;
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 6px;
  }
  .btn1:hover{
    opacity: 0.5;
  }

  #small{
    color: red;
    font-size: 15px;
  }
  
  .form-container1{
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container1 form{
    background-color: white;
    border-radius: 8px;
    border: 3px solid black;
    box-shadow: 8px 16px rgba(0,0,0,.1);
    padding: 16px ;
    text-align: center;
    width: 800px;
    position: absolute;
    top: 20%;
}

.form-container1 form h3{
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}
.form-container1 form p{
    margin: 16px 0;
    font-size: 32px;
    color: #777;
}
.form-container1 form span{
    color: red;
    font-size: 15px;
    padding: 10px;
}

.form-container1 form input{
  font-size: 30px;
  border: 3px solid black;
  margin-top: 15px ;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 4px 8px rgba(0,0,0,.1);
  width: 100%;
}
.form-container1 form select{
  font-size: 30px;
  background-color: #777;
  width: 50%;
  color: white;
}
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

h2{
  margin-top: 5px;
}

.checkbox-inline{

width: 100%;
}
.checkbox{
  display: inline-flex;
}
.fifty{
  text-align: left;
}

.hidden{
  position: fixed;
opacity: 0;
pointer-events: none;
display: none;
}

.news{
  width: 50%;
  margin-left:-210px;
  border: 3px solid black;
  padding-top: 30px;
  margin-top: 100px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.news p{
  
  text-align: center;
}
#left{
  text-align: left;
  font-size: 28px;
}

.big{
  font-size: 40px;
  font-weight: bolder;
}

.b{
  font-size: 30px;
  width: 50%;
}


.products .box-container {
  display: block;
  height: 100%;
  padding: 20px 0;
  margin-top: 20px;
}

.products .box-container .box{
  position: relative;
  background-color: white;
  box-shadow: 4px 8px rgba(0,0,0,.1);
  border-radius: 8px;
  border: 3px solid black;
  padding:2rem;
  overflow: hidden;
 margin-left: 10px;
 margin-top: 20px;
}




.products .box-container .box .big{
  font-size: 4rem;
  color: black;
  text-align: center;
}



.products .box-container .box .center{
  text-align: center;
  font-size: 20px;
}

.products .box-container .box .ctg{
  font-size: 25px;
  float: right;
}

#left1{
  text-align: left;
  
  display: inline;
  
}



.sub{
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
}

#left{
  text-align: center;
  margin-top: 25px;

}

.btn2{
  font-size:20px ;
 text-align: center;
 background-color: red;
 border-radius: 8px;
 color: white;
 padding: 8px;
 position: relative;
 left: 43%;
}
.btn2:hover{
  opacity: 0.5;
  cursor: pointer;
}

.center{
  border-right:  1px solid white;
  padding: 10px;
}