*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

body, html {
    height: 100%;
    margin: 0;
    text-align: center;
    
  }

#border{
    border-left: 5px solid #adff2f;
}

.dobrodosli-polje{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;

}
.dobrodosli-polje .sadrzaj-wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}
.dobrodosli-polje .sadrzaj-wrap1{
    position: absolute;
    left: 40%;
    top: 25%;
    transform: translate3d(-50%,-50%,0);
}
.dobrodosli-polje .sadrzaj-wrap2{
    position: absolute;
    left: 50%;
    top: 130%;
    transform: translate3d(-50%,-50%,0);
}
.dobrodosli-polje .sadrzaj-wrap1 .row img{
    height: 200px;
}
.dobrodosli-polje .sadrzaj-wrap p{
    color: white;
    text-align: left;
    padding: 15px;
    font-size: 25px;
}
.dobrodosli-polje .sadrzaj-wrap .f{
    list-style: none;
}
.dobrodosli-polje .sadrzaj-wrap .fab{
    list-style: none;
    color: #4b0076;
    font-size: 1.2em;
}
.dobrodosli-polje .sadrzaj-wrap .f li{
    display: inline-block;
    margin-right: 30px;
    font-size: 5em;
    color: white;
    opacity: 1;
    transition: all 2s ease;
}
.dobrodosli-polje .sadrzaj-wrap .fa li{
    display: inline-block;
    margin-right: 30px;
    font-size: 1.5em;
    color: white;
    opacity: 1;
    transition: all 2s ease;
    padding: 15px;
   
}
.dobrodosli-polje .sadrzaj-wrap .fa li a{
    list-style: none;
}
.dobrodosli-polje .sadrzaj-wrap .fab:hover{
    color: #adff2f;
    cursor: pointer;
}
.dobrodosli-polje .sadrzaj-wrap .fa:hover{
    color: #adff2f;
    cursor: pointer;
    
}
.dobrodosli-polje .sadrzaj-wrap .f li:last-child{
    margin-right: 0;
}
.dobrodosli-polje .sadrzaj-wrap .enter{
    display: block;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    color: #adff2f;
    opacity: 1;
    transition: all 1s ease 2s;
}
.desni{
    position: absolute;
    left: 190%;
    padding: 15px;
    
}
.desni a{
    padding: 10px;
    font-size:25px ;
    color: #adff2f;
    margin-top:15px ;
    width: 100%;
}
.desni a:hover{
   font-size: 26px;
   
}
.desni h1{
    color: white;
    padding: 15px;
}

.dobrodosli-polje .sakriven-sadrzaj .sadrzaj-wrap .f li{
    opacity: 0;
}
.dobrodosli-polje .sakriven-sadrzaj .sadrzaj-wrap .f li:nth-child(1){
    transform: translate3d(-100px,0,0);
}
.dobrodosli-polje .sakriven-sadrzaj .sadrzaj-wrap .f li:nth-child(2){
    transform: translate3d(100px,0,0);
}
.dobrodosli-polje .sakriven-sadrzaj .sadrzaj-wrap .enter{
    opacity: 0;
    transform: translate3d(0,-30px,0);
}

@media (min-width:800px){
    .dobrodosli-polje .sakriven-sadrzaj .sadrzaj-wrap .f li{
        font-size: 10em;
    }
    .dobrodosli-polje .sadrzaj-wrap .enter{
        font-size: 1.5em;
    }
    
}

.blink {
    animation: blinker 2.5s linear infinite;
    color: red;
    font-family: sans-serif;
    font-size: 18px;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.btn{
    background-color: black;
    font-size: 1.5rem;
}


.drop-content{
    display: none;
}


.dobrodosli-polje .footer{
    position: absolute;
    color: white;
    text-align: center;
    align-items: center;
    margin: auto;
    bottom: 0;
    width: 100%;
    
}
.dobrodosli-polje .footer i{
    padding: 10px;
    color: #adff2f;
}
.dobrodosli-polje .footer i:hover{
    cursor: pointer;
}
.dobrodosli-polje .footer p{
    padding: 5px;
}

#space{
    padding: 15px;
}
.row{
    padding-left: 40px;
    display: flex;
}
.dobrodosli-polje .sadrzaj-wrap .row img{
    height: 200px;
}