

.products .box-container .box{
    position: relative;
    background-color: white;
    box-shadow: 8px 16px rgba(0,0,0,.1);
    border-radius: 8px;
    border: 3px solid black;
    padding:2rem;
    overflow: hidden;
   
 }
 
 .products .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
 }
 
 
 

 .products .box-container .box .name{
    font-size: 2rem;
    color: black;
 }
 
 .products .box-container .box .flex{
    display: flex;
    align-items: center;
    gap:1rem;
 }
 
 .products .box-container .box .flex .qty{
    width: 7rem;
    padding:1rem;
    border: 3px solid black;
    font-size: 1.8rem;
    color:black;
    border-radius: .5rem;
 }
 
 .products .box-container .box .flex .price{
    font-size: 2rem;
    color:red;
    margin-right: auto;
 }
 